In [34]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import re
import xgboost
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

Training a regressor to predict housing prices in a city of northeast Brazil with data scrapped from OLX listings

**Results**: much of the data is dirty because of site users inserting wrong/incomplete information. Only features that helped predict prices consistently were meter area and location. Would be nice if the data were more real and contained geolocalization info.

In [35]:
tf.random.set_seed(33)
np.random.seed(33)

In [36]:
data = r'/content/drive/MyDrive/Colab Notebooks/datafiles/jp_data_07_22.csv'

In [37]:
df = pd.read_csv(data)
df = df.drop("Unnamed: 0", axis=1)
df

         area   bedrooms                      location         price
0       277m²  4 quartos          João Pessoa, Manaíra  R$ 1.300.000
1      7300m²  3 quartos          João Pessoa, Gramame    R$ 230.000
2       277m²  4 quartos          João Pessoa, Manaíra  R$ 1.300.000
3     13000m²  3 quartos  João Pessoa, Cristo Redentor    R$ 235.000
4         NaN        NaN                           NaN           NaN
...       ...        ...                           ...           ...
5695    300m²  3 quartos     João Pessoa, Pedro Gondim    R$ 400.000
5696    235m²  3 quartos    João Pessoa, Portal do Sol    R$ 570.000
5697    180m²  2 quartos  João Pessoa, Expedicionários    R$ 560.000
5698     58m²  2 quartos     João Pessoa, Funcionários    R$ 155.000
5699     58m²  2 quartos       João Pessoa, Mangabeira    R$ 190.000

[5700 rows x 4 columns]

In [38]:
original = pd.read_csv(data).drop("Unnamed: 0", axis=1)

In [39]:
def fmt_area(area):
  if isinstance(area, str) and "m²" in area:
    area = area.replace("m²", '')
    return float(area)
  else:
    return np.nan

def fix_area(area):
  if isinstance(area, float):
    if area >= 2000 and area <= 100000:
      area =  area / 100
    elif area > 100000 and area < 1000000:
      area =  area / 1000
    elif area > 1000000:
      area = np.nan
    
    if area < 50:
      area = np.nan
    else:
      return float(area)

def fmt_bedrooms(bedrooms):
  if not "quarto" in str(bedrooms):
    return np.nan
  match = re.search("\d", bedrooms)
  if match is not None:
    return int(match.group(0))
  else:
    return np.nan

def fmt_values(num):
  if not isinstance(num, str):
    return num
  else:
    price = re.sub(r"R[^0-9] ",'', num)
    price = re.sub(r"\.",'', price)
    price = float(price)
  
  if price < 50000 or price > 8000000:
    return np.nan

  return price

In [40]:
df.area = df.area.apply(fmt_area)
df.area = df.area.apply(fix_area)
df.bedrooms = df.bedrooms.apply(fmt_bedrooms)

In [41]:
df.price = df.price.apply(fmt_values)

In [42]:
original.iloc[72]

area                             1300m²
bedrooms              5 ou mais quartos
location    João Pessoa, Jardim Oceania
price                      R$ 4.500.000
Name: 72, dtype: object

In [43]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4067 entries, 0 to 5699
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      4067 non-null   float64
 1   bedrooms  4067 non-null   float64
 2   location  4067 non-null   object
 3   price     4067 non-null   float64
dtypes: float64(3), object(1)
memory usage: 158.9+ KB

In [45]:
locations = df.location.unique()
locations

array(['João Pessoa, Manaíra', 'João Pessoa, Gramame',
       'João Pessoa, Cristo Redentor', 'João Pessoa, Varjão',
       'João Pessoa, José Américo de Almeida',
       'João Pessoa, Distrito Industrial', 'João Pessoa, Ernani Sátiro',
       'João Pessoa, Paratibe', 'João Pessoa, Altiplano Cabo Branco',
       'João Pessoa, Valentina de Figueiredo',
       'João Pessoa, Funcionários', 'João Pessoa, Mangabeira',
       'João Pessoa, Aeroclube', 'João Pessoa, Indústrias',
       'João Pessoa, Brisamar', 'João Pessoa, Oitizeiro',
       'João Pessoa, Portal do Sol', 'João Pessoa, Jaguaribe',
       'João Pessoa, Bessa', 'João Pessoa, Ernesto Geisel',
       'João Pessoa, Estados', 'João Pessoa, Bancários',
       'João Pessoa, Jardim São Paulo', 'João Pessoa, Jardim Oceania',
       'João Pessoa, Expedicionários', 'João Pessoa, João Agripino',
       'João Pessoa, Ipês', 'João Pessoa, Mumbaba', 'João Pessoa, Cuiá',
       'João Pessoa, Muçumagro', 'João Pessoa, Tambiá',
       'Cabedelo, Ponta de Campina', 'João Pessoa, Tambaú',
       'João Pessoa, Cabo Branco', 'João Pessoa, José Américo De Almeida',
       'Cabedelo, Poço', 'Cabedelo, Intermares', 'João Pessoa, Mandacaru',
       'João Pessoa, Centro', 'João Pessoa, Tambauzinho',
       'João Pessoa, Jardim Cidade Universitária',
       'João Pessoa, Água Fria', 'João Pessoa, Castelo Branco',
       'João Pessoa, Torre', 'João Pessoa, Roger',
       'João Pessoa, João Paulo II', 'João Pessoa, Alto do Céu',
       'João Pessoa, Miramar', 'João Pessoa, Anatólia',
       'João Pessoa, Costa e Silva', 'João Pessoa, Cruz das Armas',
       'João Pessoa, Cidade dos Colibris', 'João Pessoa, Treze de Maio',
       'João Pessoa, Barra de Gramame', 'João Pessoa, Ponta do Seixas',
       'João Pessoa, Alto do Mateus', 'João Pessoa, Varadouro',
       'João Pessoa, Pedro Gondim', 'João Pessoa, Planalto Boa Esperança',
       'João Pessoa, Jardim Veneza', 'João Pessoa, Trincheiras',
       'João Pessoa, Grotão', 'João Pessoa, Barra De Gramame',
       'Cabedelo, Monte Castelo', 'Cabedelo, Formosa',
       'Cabedelo, Camboinha', 'Cabedelo, Centro',
       'João Pessoa, Ilha do Bispo', 'Cabedelo, Ponta de Matos',
       'João Pessoa, Penha', 'Cabedelo, Areia Dourada',
       'João Pessoa, Valentina De Figueiredo', 'João Pessoa, São José',
       'João Pessoa, Costa do Sol'], dtype=object)

In [46]:
df["meter_price"] =  df.apply(lambda row: round(row.price / row.area, 2), axis=1)

In [47]:
df[df.location == "João Pessoa, Cabo Branco"].meter_price.mean()

5413.083333333333

Removing outliers based on price per square meter

In [48]:
stats = {}
for loc in locations:
  dff = df[df.location == loc]
  stats[loc] = {"mean": dff.meter_price.mean(), "std": dff.meter_price.std()}

In [49]:
def get_zscore(row):
  stat = stats[row.location]
  mean = stat["mean"]
  std = stat["std"]
  return (row.meter_price - mean )  / std

df["z_score"] = df.apply( get_zscore, axis =1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

In [50]:
dff =  df[(df.z_score >= - 3 ) & (df.z_score <= 3 ) ]           # syntax #df[(df['col1'] >= 1) & (df['col1'] <=1 )]

In [51]:
dff

,area,bedrooms,location,price,meter_price,z_score
0,277.0,4.0,"João Pessoa, Manaíra",1300000.0,4693.14,0.299565
1,73.0,3.0,"João Pessoa, Gramame",230000.0,3150.68,0.477407
2,277.0,4.0,"João Pessoa, Manaíra",1300000.0,4693.14,0.299565
3,130.0,3.0,"João Pessoa, Cristo Redentor",235000.0,1807.69,-0.496481
6,250.0,3.0,"João Pessoa, Manaíra",1300000.0,5200.00,0.568619
...,...,...,...,...,...,...
5695,300.0,3.0,"João Pessoa, Pedro Gondim",400000.0,1333.33,-0.617782
5696,235.0,3.0,"João Pessoa, Portal do Sol",570000.0,2425.53,-1.587437
5697,180.0,2.0,"João Pessoa, Expedicionários",560000.0,3111.11,0.311313
5698,58.0,2.0,"João Pessoa, Funcionários",155000.0,2672.41,1.256131
5699,58.0,2.0,"João Pessoa, Mangabeira",190000.0,3275.86,1.257632

In [52]:
def standardize_features( dataframe: pd.DataFrame, feature_names: list, operation="standardize"):
  """standardizes numerical features and returns a dataframe"""
  from sklearn.preprocessing import StandardScaler, Normalizer
  if operation == "normalize":
    operator = Normalizer()
  else:
    operator = StandardScaler()
  df = dataframe
  for column_name in feature_names:
      raw_data = np.array(df[column_name]).reshape(-1, 1)
      transformed = operator.fit_transform(raw_data)
      ready = pd.DataFrame(transformed, columns=[column_name])
      df = df.drop(column_name, axis=1).join(ready)
  return df

In [53]:
X = dff.drop(["price", "meter_price", "z_score","bedrooms"], axis=1,)

#One hot encoding  
X = pd.get_dummies(X, prefix='', prefix_sep='', columns=['location'],drop_first=True)
Y = dff.price

In [54]:
X.shape[1]

68

In [55]:
x_train_full, x_test, y_train_full, y_test =  train_test_split(X, Y, test_size=0.1)
x_valid, x_train =  x_train_full[:300], x_train_full[300:]
y_valid, y_train =  y_train_full[:300], y_train_full[300:]

In [56]:
x_train.shape

(3311, 68)

In [57]:
forests = RandomForestRegressor(n_estimators=100, random_state=32)
xgb = xgboost.XGBRegressor(n_estimators=200, learning_rate=0.2, random_state=42, max_depth=10)

selected_model = xgb

selected_model.fit(x_train, y_train)
pred = selected_model.predict(x_test)
squared_error = mean_squared_error(pred, y_test, squared=False)
absolute_error = mean_absolute_error(pred, y_test)
print(absolute_error, squared_error)

[14:33:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
180905.6829329913 465106.8946409851

In [68]:
early_stopping_cb = keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True, monitor="loss")



sample_to_normalize = x_train
norm_layer = keras.layers.Normalization(axis=1)
norm_layer.adapt(tf.constant(sample_to_normalize))

neural = keras.models.Sequential([
norm_layer,
keras.layers.Dense(64, activation="selu", kernel_initializer="lecun_normal", input_shape=X.shape[1:]),
keras.layers.Dense(64, kernel_initializer="lecun_normal", activation="selu"),
keras.layers.Dense(1, activation=None),
])

optimizer = keras.optimizers.SGD(learning_rate=0.0005, nesterov=True) #keras.optimizers.RMSprop(lr=0.001) 

neural.compile(loss=tf.keras.losses.MeanAbsoluteError(), optimizer= optimizer)

history = neural.fit(x_train, y_train, validation_data=(x_valid, y_valid), epochs=200, callbacks=[early_stopping_cb])

Epoch 1/200
104/104 [==============================] - 1s 5ms/step - loss: 659763.1875 - val_loss: 560762.2500
Epoch 2/200
104/104 [==============================] - 0s 3ms/step - loss: 659762.9375 - val_loss: 560762.0000
Epoch 3/200
104/104 [==============================] - 0s 3ms/step - loss: 659762.8125 - val_loss: 560761.6875
Epoch 4/200
104/104 [==============================] - 0s 3ms/step - loss: 659762.4375 - val_loss: 560761.3750
Epoch 5/200
104/104 [==============================] - 0s 3ms/step - loss: 659762.1875 - val_loss: 560761.0625
Epoch 6/200
104/104 [==============================] - 0s 3ms/step - loss: 659761.6250 - val_loss: 560760.6250
Epoch 7/200
104/104 [==============================] - 0s 3ms/step - loss: 659761.1875 - val_loss: 560760.1875
Epoch 8/200
104/104 [==============================] - 0s 3ms/step - loss: 659760.5000 - val_loss: 560759.5000
Epoch 9/200
104/104 [==============================] - 0s 3ms/step - loss: 659759.5625 - val_loss: 560758.7500
Epoch 10/200
104/104 [==============================] - 0s 3ms/step - loss: 659758.7500 - val_loss: 560757.7500
Epoch 11/200
104/104 [==============================] - 0s 3ms/step - loss: 659757.5625 - val_loss: 560756.3750
Epoch 12/200
104/104 [==============================] - 0s 3ms/step - loss: 659755.8125 - val_loss: 560754.5625
Epoch 13/200
104/104 [==============================] - 0s 3ms/step - loss: 659753.6250 - val_loss: 560752.0625
Epoch 14/200
104/104 [==============================] - 0s 3ms/step - loss: 659750.3750 - val_loss: 560748.4375
Epoch 15/200
104/104 [==============================] - 0s 3ms/step - loss: 659745.5625 - val_loss: 560743.0625
Epoch 16/200
104/104 [==============================] - 0s 3ms/step - loss: 659738.4375 - val_loss: 560734.6875
Epoch 17/200
104/104 [==============================] - 0s 3ms/step - loss: 659727.4375 - val_loss: 560720.9375
Epoch 18/200
104/104 [==============================] - 0s 3ms/step - loss: 659708.1875 - val_loss: 560696.4375
Epoch 19/200
104/104 [==============================] - 0s 3ms/step - loss: 659672.5625 - val_loss: 560647.9375
Epoch 20/200
104/104 [==============================] - 0s 3ms/step - loss: 659596.4375 - val_loss: 560534.3750
Epoch 21/200
104/104 [==============================] - 0s 3ms/step - loss: 659393.7500 - val_loss: 560192.5625
Epoch 22/200
104/104 [==============================] - 0s 3ms/step - loss: 658608.0625 - val_loss: 558525.0625
Epoch 23/200
104/104 [==============================] - 0s 3ms/step - loss: 650026.5000 - val_loss: 522907.3750
Epoch 24/200
104/104 [==============================] - 0s 3ms/step - loss: 380156.4062 - val_loss: 227302.6875
Epoch 25/200
104/104 [==============================] - 0s 3ms/step - loss: 254251.1562 - val_loss: 229517.5156
Epoch 26/200
104/104 [==============================] - 0s 3ms/step - loss: 251126.5156 - val_loss: 213756.2344
Epoch 27/200
104/104 [==============================] - 0s 3ms/step - loss: 248077.7031 - val_loss: 217686.2344
Epoch 28/200
104/104 [==============================] - 0s 3ms/step - loss: 247571.1562 - val_loss: 209950.1562
Epoch 29/200
104/104 [==============================] - 0s 3ms/step - loss: 244237.4531 - val_loss: 223387.4062
Epoch 30/200
104/104 [==============================] - 0s 3ms/step - loss: 243976.7031 - val_loss: 220501.1406
Epoch 31/200
104/104 [==============================] - 0s 3ms/step - loss: 242059.8906 - val_loss: 214638.3750
Epoch 32/200
104/104 [==============================] - 0s 3ms/step - loss: 238903.7344 - val_loss: 205889.5781
Epoch 33/200
104/104 [==============================] - 0s 3ms/step - loss: 237947.9844 - val_loss: 217295.5000
Epoch 34/200
104/104 [==============================] - 0s 3ms/step - loss: 235910.2812 - val_loss: 205392.0938
Epoch 35/200
104/104 [==============================] - 0s 3ms/step - loss: 230715.7031 - val_loss: 214778.6719
Epoch 36/200
104/104 [==============================] - 0s 3ms/step - loss: 227356.0625 - val_loss: 200326.5938
Epoch 37/200
104/104 [==============================] - 0s 3ms/step - loss: 224994.2656 - val_loss: 193509.5000
Epoch 38/200
104/104 [==============================] - 0s 3ms/step - loss: 221727.8594 - val_loss: 189185.7656
Epoch 39/200
104/104 [==============================] - 0s 3ms/step - loss: 218735.4688 - val_loss: 194769.5781
Epoch 40/200
104/104 [==============================] - 0s 3ms/step - loss: 215930.0156 - val_loss: 183385.3906
Epoch 41/200
104/104 [==============================] - 0s 3ms/step - loss: 213568.3125 - val_loss: 206330.8438
Epoch 42/200
104/104 [==============================] - 0s 3ms/step - loss: 212041.5938 - val_loss: 186311.5156
Epoch 43/200
104/104 [==============================] - 0s 3ms/step - loss: 209827.2969 - val_loss: 186803.7656
Epoch 44/200
104/104 [==============================] - 0s 3ms/step - loss: 209391.9531 - val_loss: 185868.7031
Epoch 45/200
104/104 [==============================] - 0s 3ms/step - loss: 206115.8594 - val_loss: 184656.3281
Epoch 46/200
104/104 [==============================] - 0s 3ms/step - loss: 207814.6250 - val_loss: 185827.9531
Epoch 47/200
104/104 [==============================] - 0s 3ms/step - loss: 205899.4062 - val_loss: 184842.7500
Epoch 48/200
104/104 [==============================] - 0s 4ms/step - loss: 204806.2031 - val_loss: 201269.5469
Epoch 49/200
104/104 [==============================] - 1s 5ms/step - loss: 203821.4062 - val_loss: 180706.7500
Epoch 50/200
104/104 [==============================] - 1s 8ms/step - loss: 202474.7812 - val_loss: 188612.9062
Epoch 51/200
104/104 [==============================] - 1s 6ms/step - loss: 203836.6719 - val_loss: 184923.2500
Epoch 52/200
104/104 [==============================] - 1s 5ms/step - loss: 203144.0938 - val_loss: 172300.9062
Epoch 53/200
104/104 [==============================] - 0s 2ms/step - loss: 201856.3281 - val_loss: 173664.5312
Epoch 54/200
104/104 [==============================] - 0s 3ms/step - loss: 200764.0625 - val_loss: 172594.9375
Epoch 55/200
104/104 [==============================] - 0s 2ms/step - loss: 198111.8281 - val_loss: 176651.9531
Epoch 56/200
104/104 [==============================] - 0s 2ms/step - loss: 199017.1406 - val_loss: 208316.9531
Epoch 57/200
104/104 [==============================] - 0s 2ms/step - loss: 200946.6250 - val_loss: 179564.8750
Epoch 58/200
104/104 [==============================] - 0s 3ms/step - loss: 197429.8594 - val_loss: 167308.7031
Epoch 59/200
104/104 [==============================] - 0s 3ms/step - loss: 197420.9062 - val_loss: 176441.5625
Epoch 60/200
104/104 [==============================] - 0s 3ms/step - loss: 197284.8281 - val_loss: 176014.6875
Epoch 61/200
104/104 [==============================] - 0s 2ms/step - loss: 196348.6250 - val_loss: 171079.5469
Epoch 62/200
104/104 [==============================] - 0s 3ms/step - loss: 197070.2812 - val_loss: 168635.3906
Epoch 63/200
104/104 [==============================] - 0s 2ms/step - loss: 195599.9844 - val_loss: 174528.2344
Epoch 64/200
104/104 [==============================] - 0s 3ms/step - loss: 194153.5938 - val_loss: 159786.2031
Epoch 65/200
104/104 [==============================] - 0s 3ms/step - loss: 196400.4375 - val_loss: 175675.8594
Epoch 66/200
104/104 [==============================] - 0s 3ms/step - loss: 193968.4844 - val_loss: 180638.0625
Epoch 67/200
104/104 [==============================] - 0s 2ms/step - loss: 195284.0469 - val_loss: 186100.7500
Epoch 68/200
104/104 [==============================] - 0s 3ms/step - loss: 194096.6094 - val_loss: 182834.3125
Epoch 69/200
104/104 [==============================] - 0s 3ms/step - loss: 193550.7656 - val_loss: 162887.0938
Epoch 70/200
104/104 [==============================] - 0s 2ms/step - loss: 192906.8281 - val_loss: 179500.8750
Epoch 71/200
104/104 [==============================] - 0s 3ms/step - loss: 193327.7656 - val_loss: 168664.9375
Epoch 72/200
104/104 [==============================] - 0s 3ms/step - loss: 191913.2656 - val_loss: 161908.9531
Epoch 73/200
104/104 [==============================] - 0s 3ms/step - loss: 191180.8594 - val_loss: 165849.5156
Epoch 74/200
104/104 [==============================] - 0s 3ms/step - loss: 192105.4844 - val_loss: 163019.9375
Epoch 75/200
104/104 [==============================] - 0s 3ms/step - loss: 191713.7031 - val_loss: 172642.3906
Epoch 76/200
104/104 [==============================] - 0s 3ms/step - loss: 191292.5469 - val_loss: 173609.5000
Epoch 77/200
104/104 [==============================] - 0s 3ms/step - loss: 193519.1406 - val_loss: 168561.5469
Epoch 78/200
104/104 [==============================] - 0s 2ms/step - loss: 192286.9531 - val_loss: 170062.1250
Epoch 79/200
104/104 [==============================] - 0s 2ms/step - loss: 191166.9375 - val_loss: 167023.7969
Epoch 80/200
104/104 [==============================] - 0s 3ms/step - loss: 192830.5625 - val_loss: 165578.5469
Epoch 81/200
104/104 [==============================] - 0s 3ms/step - loss: 190217.2344 - val_loss: 176833.8281
Epoch 82/200
104/104 [==============================] - 1s 7ms/step - loss: 191009.0469 - val_loss: 161517.9844
Epoch 83/200
104/104 [==============================] - 0s 2ms/step - loss: 190921.0000 - val_loss: 166534.2031
Epoch 84/200
104/104 [==============================] - 0s 2ms/step - loss: 190117.0781 - val_loss: 173832.2812
Epoch 85/200
104/104 [==============================] - 0s 3ms/step - loss: 191841.0312 - val_loss: 165820.7812
Epoch 86/200
104/104 [==============================] - 0s 3ms/step - loss: 190760.2812 - val_loss: 165614.8281
Epoch 87/200
104/104 [==============================] - 0s 3ms/step - loss: 190777.5000 - val_loss: 164588.3438
Epoch 88/200
104/104 [==============================] - 0s 3ms/step - loss: 190010.4844 - val_loss: 185938.5938
Epoch 89/200
104/104 [==============================] - 0s 3ms/step - loss: 189947.0156 - val_loss: 184981.9219
Epoch 90/200
104/104 [==============================] - 0s 3ms/step - loss: 190730.9375 - val_loss: 165679.4062
Epoch 91/200
104/104 [==============================] - 0s 2ms/step - loss: 189952.9531 - val_loss: 165439.5312
Epoch 92/200
104/104 [==============================] - 0s 3ms/step - loss: 190071.2188 - val_loss: 172752.2656
Epoch 93/200
104/104 [==============================] - 0s 3ms/step - loss: 189299.4531 - val_loss: 174568.1719
Epoch 94/200
104/104 [==============================] - 0s 3ms/step - loss: 190647.1094 - val_loss: 158753.0938
Epoch 95/200
104/104 [==============================] - 0s 3ms/step - loss: 188260.2188 - val_loss: 176818.0625
Epoch 96/200
104/104 [==============================] - 0s 3ms/step - loss: 190701.9062 - val_loss: 167862.0156
Epoch 97/200
104/104 [==============================] - 0s 3ms/step - loss: 188747.5781 - val_loss: 178036.8438
Epoch 98/200
104/104 [==============================] - 0s 3ms/step - loss: 189429.6250 - val_loss: 164925.0312
Epoch 99/200
104/104 [==============================] - 0s 3ms/step - loss: 188277.2500 - val_loss: 165923.4688
Epoch 100/200
104/104 [==============================] - 0s 3ms/step - loss: 188063.5469 - val_loss: 164004.3281
Epoch 101/200
104/104 [==============================] - 0s 3ms/step - loss: 186709.6250 - val_loss: 160593.3281
Epoch 102/200
104/104 [==============================] - 0s 3ms/step - loss: 188448.2344 - val_loss: 160325.3750
Epoch 103/200
104/104 [==============================] - 0s 3ms/step - loss: 189652.5469 - val_loss: 163640.3125
Epoch 104/200
104/104 [==============================] - 0s 3ms/step - loss: 187638.2188 - val_loss: 162448.8906
Epoch 105/200
104/104 [==============================] - 0s 3ms/step - loss: 188743.0625 - val_loss: 167349.1562
Epoch 106/200
104/104 [==============================] - 0s 3ms/step - loss: 189049.3438 - val_loss: 173093.3594
Epoch 107/200
104/104 [==============================] - 0s 3ms/step - loss: 188385.4219 - val_loss: 161767.6250
Epoch 108/200
104/104 [==============================] - 0s 3ms/step - loss: 190176.1406 - val_loss: 167635.4062
Epoch 109/200
104/104 [==============================] - 0s 3ms/step - loss: 187979.0000 - val_loss: 169769.7344
Epoch 110/200
104/104 [==============================] - 0s 3ms/step - loss: 189011.7031 - val_loss: 173212.2188
Epoch 111/200
104/104 [==============================] - 0s 3ms/step - loss: 187614.5938 - val_loss: 161457.1406

In [69]:
sample = x_test[10:20]
sample_answers = y_test[10:20]

In [70]:
neural.predict(sample)

1/1 [==============================] - 0s 72ms/step

array([[ 273382.03],
       [ 324423.6 ],
       [ 756497.5 ],
       [ 695332.5 ],
       [ 159591.39],
       [ 267543.6 ],
       [ 170341.47],
       [2089659.8 ],
       [ 297935.94],
       [ 953462.25]], dtype=float32)

In [71]:
list(sample_answers)

[450000.0,
 180000.0,
 530000.0,
 600000.0,
 150000.0,
 130000.0,
 165000.0,
 1100000.0,
 310000.0,
 799000.0]

In [72]:
pred = neural.predict(x_test)
real = y_test

squared_error = mean_squared_error(pred, real, squared=False)
absolute_error = mean_absolute_error(pred, real)
print(absolute_error, squared_error)

13/13 [==============================] - 0s 2ms/step
206356.1126982276 461599.8254902077

In [73]:
locations

array(['João Pessoa, Manaíra', 'João Pessoa, Gramame',
       'João Pessoa, Cristo Redentor', 'João Pessoa, Varjão',
       'João Pessoa, José Américo de Almeida',
       'João Pessoa, Distrito Industrial', 'João Pessoa, Ernani Sátiro',
       'João Pessoa, Paratibe', 'João Pessoa, Altiplano Cabo Branco',
       'João Pessoa, Valentina de Figueiredo',
       'João Pessoa, Funcionários', 'João Pessoa, Mangabeira',
       'João Pessoa, Aeroclube', 'João Pessoa, Indústrias',
       'João Pessoa, Brisamar', 'João Pessoa, Oitizeiro',
       'João Pessoa, Portal do Sol', 'João Pessoa, Jaguaribe',
       'João Pessoa, Bessa', 'João Pessoa, Ernesto Geisel',
       'João Pessoa, Estados', 'João Pessoa, Bancários',
       'João Pessoa, Jardim São Paulo', 'João Pessoa, Jardim Oceania',
       'João Pessoa, Expedicionários', 'João Pessoa, João Agripino',
       'João Pessoa, Ipês', 'João Pessoa, Mumbaba', 'João Pessoa, Cuiá',
       'João Pessoa, Muçumagro', 'João Pessoa, Tambiá',
       'Cabedelo, Ponta de Campina', 'João Pessoa, Tambaú',
       'João Pessoa, Cabo Branco', 'João Pessoa, José Américo De Almeida',
       'Cabedelo, Poço', 'Cabedelo, Intermares', 'João Pessoa, Mandacaru',
       'João Pessoa, Centro', 'João Pessoa, Tambauzinho',
       'João Pessoa, Jardim Cidade Universitária',
       'João Pessoa, Água Fria', 'João Pessoa, Castelo Branco',
       'João Pessoa, Torre', 'João Pessoa, Roger',
       'João Pessoa, João Paulo II', 'João Pessoa, Alto do Céu',
       'João Pessoa, Miramar', 'João Pessoa, Anatólia',
       'João Pessoa, Costa e Silva', 'João Pessoa, Cruz das Armas',
       'João Pessoa, Cidade dos Colibris', 'João Pessoa, Treze de Maio',
       'João Pessoa, Barra de Gramame', 'João Pessoa, Ponta do Seixas',
       'João Pessoa, Alto do Mateus', 'João Pessoa, Varadouro',
       'João Pessoa, Pedro Gondim', 'João Pessoa, Planalto Boa Esperança',
       'João Pessoa, Jardim Veneza', 'João Pessoa, Trincheiras',
       'João Pessoa, Grotão', 'João Pessoa, Barra De Gramame',
       'Cabedelo, Monte Castelo', 'Cabedelo, Formosa',
       'Cabedelo, Camboinha', 'Cabedelo, Centro',
       'João Pessoa, Ilha do Bispo', 'Cabedelo, Ponta de Matos',
       'João Pessoa, Penha', 'Cabedelo, Areia Dourada',
       'João Pessoa, Valentina De Figueiredo', 'João Pessoa, São José',
       'João Pessoa, Costa do Sol'], dtype=object)

In [74]:
def predict_new(model, X, area, location, bedrooms=None):
  locations = list(X.columns)
  size=X.shape[1]
  entry = np.zeros(size)
  try:
    locations = list(locations)
    location_idx = locations.index(location)
    entry[location_idx] = 1
  except ValueError:
    pass
  entry[0] = area
  #entry[1] = bedrooms
  entry = entry.reshape(1,size)
  return model.predict(entry)

In [75]:
predict_new(neural, X, 182. ,"João Pessoa, José Américo de Almeida")

1/1 [==============================] - 0s 74ms/step

array([[376825.2]], dtype=float32)